@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
}

@layer base {
  * {
    transition: background-color 200ms ease;
  }

  @media (prefers-reduced-motion) {
    * {
      transition: none;
    }
  }

  dialog::backdrop {
    @apply bg-black/50;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-xs bg-gray-200 dark:bg-gray-700;
  }
}
